@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@font-face{font-family:"posidonsans";src:url("https://posidon.io/PosidonSans.ttf");}
@keyframes alpha-in{from{opacity:0;}to{opacity:100%;}}
*{scrollbar-width:thin;font-weight:normal;font-family:'Atkinson Hyperlegible',sans-serif;max-width:100%;margin:0;padding:0;}
body {
  background-color: #000000;
  color: #ffffff;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
a {
  outline: 0;
  text-decoration-color: #0ee463;
  color: unset;
  text-decoration-thickness: 2px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 24px;
}

.logotype {
  margin-top: 12px;
  margin-left: 6px;
}

#title {
  margin-top: 12px;
  margin-right: 6px;
  float:right;
  font-size: 32px;
  font-family:"posidonsans";
}

#copyright {
  opacity: 30%;
}
.card{
  animation-name:alpha-in;
  animation-duration:.2s;
  cursor:pointer;
  display:inline-block;
	background:rgba(255,255,255,.05);
	box-shadow:
	  0 0 0 1px rgba(255,255,255,.05),
	  0 0 0 1px rgba(255,255,255,.1);
	margin-right:16px;
	margin-left:16px;
	margin-top:16px;
	margin-bottom:16px;
	border-radius:16px;
	text-align:left;
	flex: 1 0 192px;}
.card p{
  color:rgba(220,255,255,.7);
	margin-right:15px;
	margin-left:15px;
	margin-top:6px;
	margin-bottom:12px;
  font-size: 16px;}
.card img{
  border-radius:17.5px 17.5px 0 0;
  object-fit:cover;
  height:236px;
  width:100%;
  border-bottom:solid 1px rgba(255,255,255,.1);
}
#scroll{
  display: flex;
  flex-flow: row wrap;
	width:100%;
	max-width:1080px;
	margin-left:auto;
	margin-right:auto;
}
#popup{display:none;position:fixed;width:100%;height:100%;}
#wall{
  display:block;
  position:fixed;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  border-radius:12px;
  box-shadow:
    0 12px 20px rgba(0,0,0,.2),
    0 20px 32px rgba(0,0,0,.1);
  width: auto;
  height: calc(100% - 156px);
  margin-top: -56px;
}
#popupBG{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgb(25,25,25,.75);
}
#bar {
  position:fixed;
  width:100%;
  margin-top: auto;
  bottom: 0;
  left:0;
  background-color:rgba(50,50,50,.75);
  border-top:solid 1.5px rgba(255,255,255,.1);
  padding: 12px;
  box-shadow:
    0 -12px 20px rgba(0,0,0,.2),
    0 -20px 32px rgba(0,0,0,.1);
}
#bar h2{
  text-align:left;
	margin-right:15px;
	margin-left:15px;
	margin-top:8px;
	margin-bottom:4px;
}
#bar p{
  text-align:left;
	margin-right:15px;
	margin-left:15px;
	margin-top:4px;
	margin-bottom:10px;
}
#download{
  background-color:rgba(255,255,255,.25);
  padding:12px;
  border-radius:14px;
}
#download:hover{background-color:rgba(255,255,255,.3);}
#download p{display:inline-block;color:#ffffff;font-size:15px;vertical-align:top;margin-top:11px;margin-left:6px;margin-right:4px;}








